[USVISA]
; Account and current appointment info from https://ais.usvisa-info.com
USERNAME = example@example.com
PASSWORD = xxxxxxxxxx
SCHEDULE_ID = 99999999
; When you go on to the appointment page, url would look like this https://ais.usvisa-info.com/en-ca/niv/schedule/xxxxxxxxx/appointment, xxx is your schedule id
MY_SCHEDULE_DATE = 2023-01-01
; Date of your appointment, script will find appointments before this date
; English - Canada
COUNTRY_CODE = en-ca
; Canada
FACILITY_ID = 95
; 95 is Vancouver, 94 is Toronto, you can find this in the network panel of your browser when changing cities.

[CHROMEDRIVER]
; Details for the script to control Chrome
LOCAL_USE = True
; Optional: HUB_ADDRESS is mandatory only when LOCAL_USE = False
HUB_ADDRESS = http://localhost:9515/wd/hub

; These are for push notifications and email alerts, completely optional and not required.
[PUSHOVER]
; Get push notifications via https://pushover.net/ (optional)
PUSH_TOKEN = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PUSH_USER = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[SENDGRID]
; Get email notifications via https://sendgrid.com/ (optional)
SENDGRID_API_KEY = 
